<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><p>Elasmo</p></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'science' %}active{% endif %}" href="{% url 'science' %}">Science & Education</a>
          </li> {% endcomment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'data' %}">Data and Research</a></li>
              <li><a class="dropdown-item" href="{% url 'sharks' %}">Shark Species</a></li>
              <li><a class="dropdown-item" href="{% url 'resources' %}">Resources</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
