{% extends 'base.html' %}

{% block content %}
<div class="img-fluid" id="aboutBanner" style="background-image: url(static/img/banners/resources_banner.jpeg);">
    <h1>Resources</h1>
</div>
<br>
<p style="text-align: center;">Click through the resources below to discover organizations around the world that are fighting to preserve ocean health and protect sharks.</p>
<div id="resourcesContainer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a class="resPageLink" href="https://www.sharkconservationfund.org/" target="_blank">
                    <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/shark_con_fund.png);"></div>
                </a>
            </div>
            <div class="col">
                <a class="resPageLink" href="https://www.biminisharklab.com/" target="_blank">
                    <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/bimini.jpg);"></div>
                </a>
            </div>
            <div class="col">
                <a class="resPageLink" href="https://coral.org/en/" target="_blank">
                    <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/coral_reef.png);"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
            <a class="resPageLink" href="https://www.sharktrust.org/" target="_blank">
                <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/shark_trust.png);"></div>
            </a>
            </div>
            <div class="col">
            <a class="resPageLink" href="https://oceana.org/" target="_blank">
                <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/oceana.jpg);"></div>
            </a>
            </div>
            <div class="col">
            <a class="resPageLink" href="https://www.ocearch.org/about/" target="_blank">
                <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/ocearch.png);"></div>
            </a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
            <a class="resPageLink" href="https://seashepherd.org/" target="_blank">
                <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/sea_shepherd.png);"></div>
            </a>
            </div>
            <div class="col">
            <a class="resPageLink" href="https://www.noaa.gov/" target="_blank">
                <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/noaa.png);"></div>
            </a>
            </div>
            <div class="col">
            <a class="resPageLink" href="https://www.misselasmo.org/" target="_blank">
                <div class="img-fluid" id="resourcesLin" style="background-image: url(static/img/resources/miss.png);"></div>
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}